# Build outputs
Debug/
Release/
build/
working\OLED_menu\.settings
working\OLED_menu\Drivers

# Object / dependency files
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.su

# Eclipse/CubeIDE local workspace stuff
.metadata/
.settings/
working/OLED_menu/.cproject
working/OLED_menu/.mxproject
working/OLED_menu/.project
working/OLED_menu/OLED_menu Debug.launch
working/OLED_menu/OLED_menu.ioc
working/OLED_menu/STM32F446RETX_FLASH.ld
working/OLED_menu/STM32F446RETX_RAM.ld
working/OLED_menu/.settings/language.settings.xml
working/OLED_menu/.settings/org.eclipse.core.resources.prefs
working/OLED_menu/.settings/stm32cubeide.project.prefs
working/OLED_menu/Core/Inc/stm32f4xx_hal_conf.h
working/OLED_menu/Core/Inc/stm32f4xx_it.h
working/OLED_menu/Core/Src/stm32f4xx_hal_msp.c
working/OLED_menu/Core/Src/stm32f4xx_it.c
working/OLED_menu/Core/Src/syscalls.c
working/OLED_menu/Core/Src/sysmem.c
working/OLED_menu/Core/Src/system_stm32f4xx.c
working/OLED_menu/Core/Startup/startup_stm32f446retx.s
working/OLED_menu/Drivers/CMSIS/LICENSE.txt
working/OLED_menu/Drivers/CMSIS/Device/ST/STM32F4xx/LICENSE.txt
working/OLED_menu/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f4xx.h
working/OLED_menu/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f446xx.h
working/OLED_menu/Drivers/CMSIS/Device/ST/STM32F4xx/Include/system_stm32f4xx.h
working/OLED_menu/Drivers/CMSIS/Include/cachel1_armv7.h
working/OLED_menu/Drivers/CMSIS/Include/cmsis_armcc.h
working/OLED_menu/Drivers/CMSIS/Include/cmsis_armclang_ltm.h
working/OLED_menu/Drivers/CMSIS/Include/cmsis_armclang.h
working/OLED_menu/Drivers/CMSIS/Include/cmsis_compiler.h
working/OLED_menu/Drivers/CMSIS/Include/cmsis_gcc.h
working/OLED_menu/Drivers/CMSIS/Include/cmsis_iccarm.h
working/OLED_menu/Drivers/CMSIS/Include/cmsis_version.h
working/OLED_menu/Drivers/CMSIS/Include/core_armv8mbl.h
working/OLED_menu/Drivers/CMSIS/Include/core_armv8mml.h
working/OLED_menu/Drivers/CMSIS/Include/core_armv81mml.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm0.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm0plus.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm1.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm3.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm4.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm7.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm23.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm33.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm35p.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm55.h
working/OLED_menu/Drivers/CMSIS/Include/core_cm85.h
working/OLED_menu/Drivers/CMSIS/Include/core_sc000.h
working/OLED_menu/Drivers/CMSIS/Include/core_sc300.h
working/OLED_menu/Drivers/CMSIS/Include/core_starmc1.h
working/OLED_menu/Drivers/CMSIS/Include/mpu_armv7.h
working/OLED_menu/Drivers/CMSIS/Include/mpu_armv8.h
working/OLED_menu/Drivers/CMSIS/Include/pac_armv81.h
working/OLED_menu/Drivers/CMSIS/Include/pmu_armv8.h
working/OLED_menu/Drivers/CMSIS/Include/tz_context.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/LICENSE.txt
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_cortex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_def.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma_ex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_exti.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ramfunc.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio_ex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c_ex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr_ex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc_ex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_uart.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_bus.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_cortex.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_dma.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_exti.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_gpio.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_i2c.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_pwr.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_rcc.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_system.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_usart.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_utils.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy/stm32_hal_legacy.h
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c_ex.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.c
working/OLED_menu/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.c
